.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.tooltip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tooltip-title {
  font-size: 16px;
  font-weight: bold;
}

.tooltip-subtitle {
  font-size: 14px;
  color: #888;
}

.tooltip-details {
  font-size: 14px;
}

.tooltip-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tooltip-item i {
  margin-right: 5px;
}

.tooltip-divider {
  margin: 0 5px;
  color: #888;
}

:host {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep {
  .e-appointment.e-template {
    width: 100%;
  }
  .e-schedule .e-timeline-month-view .e-appointment {
    height: 55px;
  }
}

.flex {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.e-schedule .e-table-container {
  flex: 1;
}