<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> {{ "CLOSE" | translate }} </ion-button>
    </ion-buttons>
    <ion-title>{{
      (item?.name | uppercase) || "Nuevo tipo de test"
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="detailsForm">
    <ion-list style="width: 100%">
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Nombre"
          formControlName="name"
          type="text"
        ></ion-input>
      </ion-item>
      @if(!formValue().isBoolean){
      <ion-item>
        <ion-label style="min-width: 50vw">Unidad de medida</ion-label>
        <app-searchable-select
          class="ion-text-right"
          [items]="measurementUnitOptions()"
          itemValueField="id"
          itemTextField="name"
          formControlName="measurementUnitId"
          [getItem]="getMeasurementUnit"
          (onSearch)="searchMeasurementUnit($event)"
          [canAddItem]="false"
        >
          <ng-template
            #itemTemplate
            let-item
            let-isConsignaSelected="isItemSelected"
          >
            <div style="display: flex; flex-direction: column; margin: 3vw">
              {{ item.name }}
            </div>
          </ng-template>
        </app-searchable-select>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Minimo por defecto"
          formControlName="defaultMin"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Maximo por defecto"
          formControlName="defaultMax"
          type="number"
        ></ion-input>
      </ion-item>
      } @else {
      <ion-item>
        <app-select
          label="Valor Correcto"
          [options]="[
            { value: true, label: 'Sí' },
            { value: false, label: 'No' }
          ]"
          formControlName="booleanOkValue"
        ></app-select>
      </ion-item>
      }
      <ion-item>
        <ion-toggle
          [(ngModel)]="isBoolean"
          [ngModelOptions]="{ standalone: true }"
          >Booleano</ion-toggle
        >
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer style="padding: 1rem 2rem">
  <ion-button expand="block" (click)="save()" [disabled]="!detailsForm.valid">{{
    this.operation === "edit" ? "Guardar" : "Crear"
  }}</ion-button>
</ion-footer>
