<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> {{ "CLOSE" | translate }} </ion-button>
    </ion-buttons>
    <ion-title>{{
      (item?.test.name | uppercase) || "Nuevo tipo de test"
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="detailsForm">
    <ion-list style="width: 100%">
      <ion-item>
        <ion-label>Test</ion-label>
        <app-searchable-select
          class="ion-text-right"
          [items]="testOptions()"
          itemValueField="id"
          itemTextField="name"
          formControlName="testId"
          [getItem]="getTest"
          (onSearch)="searchTests($event)"
          (onChange)="onTestChange($event)"
          [canAddItem]="false"
        >
          <ng-template
            #itemTemplate
            let-item
            let-isConsignaSelected="isItemSelected"
          >
            <ion-grid class="ctn-icons">
              <ion-row>
                <ion-col
                  style="
                    padding-top: 0;
                    padding-bottom: 0;
                    align-items: center;
                    display: flex;
                    text-align: center;
                    justify-content: space-between;
                    margin-bottom: 0.5rem;
                    margin-top: 0.4rem;
                  "
                >
                  <ion-text style="display: block"> {{ item.name }}</ion-text>
                </ion-col>
                <ion-col style="padding-top: 0">
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      align-items: end;
                    "
                  >
                    @if(item.defaultMax){
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <ion-icon
                        color="medium"
                        name="caret-up-outline"
                      ></ion-icon>
                      <ion-note color="medium" class="ion-text-wrap">{{
                        item.defaultMax + " " + item.measurementUnit.symbol
                      }}</ion-note>
                    </div>
                    } @if(item.defaultMin){
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <ion-icon
                        color="medium"
                        name="caret-down-outline"
                      ></ion-icon>
                      <ion-note color="medium" class="ion-text-wrap">{{
                        item.defaultMin + " " + item.measurementUnit.symbol
                      }}</ion-note>
                    </div>
                    }
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-template>
        </app-searchable-select>
      </ion-item>
      <ion-item>
        <ion-label>Cliente</ion-label>
        <app-searchable-select
          class="ion-text-right"
          [items]="clientOptions()"
          itemValueField="id"
          itemTextField="nombrecli"
          formControlName="clientId"
          [getItem]="getClient"
          (onSearch)="searchClients($event)"
          [canAddItem]="false"
          (onClose)="onClose($event)"
          (ngModelChange)="onTestChange($event)"
        >
          <ng-template
            #itemTemplate
            let-item
            let-isConsignaSelected="isItemSelected"
          >
            <div style="display: flex; flex-direction: column; margin: 3vw">
              {{ item.nombrecli }}
            </div>
          </ng-template>
        </app-searchable-select>
      </ion-item>
      @if(!test()?.isBoolean){
      <ion-item>
        <ion-label style="min-width: 50vw">Unidad de medida</ion-label>
        <app-searchable-select
          class="ion-text-right"
          [items]="measurementUnitOptions()"
          itemValueField="id"
          itemTextField="name"
          formControlName="measurementUnitId"
          [getItem]="getMeasurementUnit"
          (onSearch)="searchMeasurementUnit($event)"
          [canAddItem]="false"
        >
          <ng-template
            #itemTemplate
            let-item
            let-isConsignaSelected="isItemSelected"
          >
            <div style="display: flex; flex-direction: column; margin: 3vw">
              {{ item.name }}
            </div>
          </ng-template>
        </app-searchable-select>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Minimo por defecto"
          formControlName="clientMin"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Maximo por defecto"
          formControlName="clientMax"
          type="number"
        ></ion-input>
      </ion-item>
      } @else {<ion-item>
        <app-select
          label="Valor Correcto"
          [options]="[
            { value: true, label: 'Sí' },
            { value: false, label: 'No' }
          ]"
          formControlName="booleanOkValue"
        ></app-select> </ion-item
      >}
    </ion-list>
  </form>
</ion-content>
<ion-footer style="padding: 1rem 2rem">
  <ion-button expand="block" (click)="save()" [disabled]="!detailsForm.valid">{{
    this.operation === "edit" ? "Guardar" : "Crear"
  }}</ion-button>
</ion-footer>
