<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="historic" href="/tabs/historic">
      <ion-icon aria-hidden="true" name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon aria-hidden="true" name="today-outline"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/tabs/create">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
