<ion-header>
  <ion-toolbar>
    <ion-title>Añadir</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="partidaForm" style="height: 90%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <ion-input style="width: 60%;" formControlName="epartida" fill="outline" [maxlength]="5"></ion-input>
  <ion-button style="width: 60%;" (click)="onSubmit()" [disabled]="!partidaForm.valid">Añadir</ion-button>
</form>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" >
  <ion-fab-button (click)="startScan()">
    <ion-icon name="scan-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>