<ion-header>
  <ion-toolbar>
    <ion-title>Estado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="display: flex; align-items: center; flex-direction: column">
    @for (estado of estadosStore.entities(); track estado.pedidolin) {
    <ion-item style="text-align: center; width: 100%">
      <div style="width: 100%; display: flex; padding: 1rem 0">
        <div style="width: 90%; display: flex">
          <div
            style="
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            {{ estado.epedido }}
          </div>
          <div
            style="
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            {{ estado.elinped }}
          </div>
          <div
            style="
              width: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            {{ estado.cliente.nombrecli }}
          </div>
          <div
            style="
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            {{ estado.articulo.desarti }}
          </div>
        </div>
        <div
          style="
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <ion-checkbox
            style="margin-left: 10px"
            (ionChange)="toggleSelection(estado)"
            [checked]="estadosStore.selectedIds().includes(estado.id)"
          ></ion-checkbox>
        </div>
      </div>
    </ion-item>
    } @if(estadosStore.entities().length > 0) { @if(!estadosStore.allSelected())
    {
    <ion-button style="margin-top: 2rem" (click)="selectAll()">
      Seleccionar todos
    </ion-button>
    } @else {
    <ion-button style="margin-top: 2rem" (click)="unselectAll()">
      Deseleccionar todos
    </ion-button>
    } }
  </div>
</ion-content>
<ion-footer>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      flex-direction: column;
    "
  >
    <div
      style="
        display: flex;
        justify-content: center;
        width: 70%;
        text-align: center;
      "
    >
      <div
        class="fill"
        style="
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        {{ aditionalDataForm.getRawValue().estado6 }}
      </div>
      <div
        class="fill right"
        style="
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        {{ aditionalDataForm.getRawValue().estado7 }}
      </div>
      <div
        class="fill right"
        style="
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        {{ aditionalDataForm.getRawValue().estado8 }}
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        width: 70%;
        text-align: center;
        margin: 1rem 0 0 0;
      "
    >
      <div
        class="fill"
        style="
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        Piezas: {{ estadosStore.sumPiezas() }}
      </div>
      <div
        class="fill right"
        style="
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        Cantidad: {{ estadosStore.sumCantidad() }}
      </div>
    </div>
    <form style="width: 70%" [formGroup]="aditionalDataForm">
      <ion-input
        [maxlength]="4"
        fill="outline"
        label="Color"
        labelPlacement="floating"
        formControlName="ecolor"
        [readonly]="true"
        style="margin: 1rem 0"
      >
      </ion-input>
      <ion-input
        [maxlength]="40"
        fill="outline"
        label="Comentario"
        labelPlacement="floating"
        formControlName="ecomenta"
        style="margin: 1rem 0"
      >
      </ion-input>
    </form>
    <div style="width: 70%">
      <ion-select
        [disabled]="!somethingSelected()"
        label="Estado"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="codEstado"
        multiple="false"
      >
        @for(option of codEstados(); track option.codiesta) {
        <ion-select-option [value]="option.codiesta">{{
          option.desesta
        }}</ion-select-option>
        }
      </ion-select>
    </div>
    <ion-button
      style="margin-top: 1rem"
      [disabled]="!somethingSelected()"
      (click)="accept()"
      >Aceptar</ion-button
    >
  </div>
</ion-footer>
