<ion-app>
    <ion-menu contentId="main-content" type="overlay">
    <div class="userBehind">
      <div
        [style.background-image]="'url(' + appStore.user()?.backgroundUrl + ')'"
        style="
          width: 100px;
          height: 100px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
        "></div>
      <div
        style="
          padding: 0.75rem 1rem;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        ">
        <h4 style="margin: 0; margin-bottom: 0.3rem">
          {{ appStore.user()?.name }}
        </h4>
        <p style="margin: 0">{{ appStore.user()?.email }}</p>
      </div>
    </div>
    <div style="flex: 1">
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-list-header>
            <h5>Menu Principal</h5>
          </ion-list-header>
          <ion-item [routerLink]="homeUrl()">
            <ion-icon
              name="home-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Inicio</ion-label></ion-item
          >
          <ion-item (click)="logout()">
            <ion-icon
              name="log-out-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Salir</ion-label></ion-item
          >
          <ion-list-header>
            <h5>Weavy</h5>
          </ion-list-header>
          <ion-item [routerLink]="['/private-routes/weavy/chat']"
            ><ion-icon
              name="chatbubbles-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Chat</ion-label></ion-item
          >
          <ion-item [routerLink]="['/private-routes/weavy/files']"
            ><ion-icon
              name="document-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Files</ion-label></ion-item
          >
          <ion-item [routerLink]="['/private-routes/weavy/posts']"
            ><ion-icon
              name="chatbox-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Posts</ion-label></ion-item
          >
          <ion-item [routerLink]="['/private-routes/weavy/tasks']"
            ><ion-icon
              name="list-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Tasks</ion-label></ion-item
          >
          <ion-item [routerLink]="['/private-routes/weavy/comments']"
            ><ion-icon
              name="chatbox-ellipses-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Comments</ion-label></ion-item
          >
          <ion-item [routerLink]="['/private-routes/weavy/search']"
            ><ion-icon
              name="search-outline"
              aria-hidden="true"
              slot="start"></ion-icon
            ><ion-label>Search</ion-label></ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
