.userBehind {
  padding-top: calc(var(--ion-safe-area-top) + 1rem);
  display: flex;
  padding: 1rem;
  background-color: #3d3d3d;
}

ion-list {
  --ion-background-color: transparent;
}
ion-item {
  --background: transparent;
}

:host ::ng-deep {
  .ionic-selectable-spinner {
    display: none !important;
  }
}